@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt</h2>

<address>
    Gurmani d.o.o.<br />
    Zagrebačka bb, 71000 Sarajevo<br />
    Tel.: +387(0) 33 442 021<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:fkovacevic1@etf.unsa.ba">fkovacevic1@etf.unsa.ba</a><br />
                                  <a href="mailto:akurtovic3@etf.unsa.ba">akurtovic3@etf.unsa.ba</a><br />
                                  <a href="mailto:akulaglic2@etf.unsa.ba">akulaglic2@etf.unsa.ba</a><br />

</address>